<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Auth0 callback -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="${auth0Scheme}"
                    android:host="${auth0Domain}"
                    android:pathPrefix="/android/com.example.myapplication/callback"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ListingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MyBookingsActivity"
            android:exported="true" />
    </application>

</manifest>